body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #2e3c50;
  transition: all 0.5s;
}

html {
  transition: all 0.5s;
}

#skroll {
  height: 300px;
  border: 1px solid red;
  position: absolute;
  opacity: 0;
  top: 870px;
}

.container {
  width: 1120px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

ol,
li {
  list-style: none;
}

button {
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  padding-right: 20px;
}

textarea {
  resize: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../typography/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../typography/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../typography/Gilroy-Regular.ttf");
}

.heading-primary {
  font-size: 120px;
  font-family: "Gilroy Bold";
}

.heading-secondary {
  font-size: 32px;
  font-family: "Gilroy Medium";
}

.heading-tertuary {
  font-family: "Gilroy Regular";
  font-size: 24px;
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: url("../../images/photo/background-image.png");
}

.header-background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #2e3c50 0%, rgba(46, 60, 80, 0.6) 100%);
}

.header-background .header-text {
  width: 100%;
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.header-background .header-text div .header-text__title {
  font-size: 120px;
  padding-top: 130px;
  margin-bottom: 20px;
}

.header-background .header-more {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.header-background .header-more__text {
  font-size: 22px;
  margin-bottom: 20px;
}

.header-background .header-more__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background: white;
  border: 1px solid white;
}

.header-background .header-more__btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
  border-radius: 50%;
  cursor: pointer;
}

.nav {
  z-index: 10000;
  width: 100%;
  position: fixed;
  color: white;
  display: flex;
  justify-content: center;
}

.nav .navbar-bgc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}

.nav .navbar-bgc .nav-inwrapper {
  display: flex;
  justify-content: space-between;
  width: 83%;
}

.nav-left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  font-size: 15px;
}

.nav-left__logo {
  cursor: pointer;
}

.nav-left__languages {
  display: flex;
}

.nav-left__languages .languages {
  font-family: "Gilroy Medium";
  margin: 0px 15px;
}

.nav-right {
  font-size: 18px;
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.nav-right__information {
  font-family: "Gilroy Medium";
  cursor: pointer;
}

.navbar-dark {
  background: #2e3c50;
  box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.4);
  z-index: 10000;
}

.slick-prev {
  left: -25px !important;
}

.slick-next {
  right: -25px !important;
}

.slick-prev,
.slick-next {
  top: auto;
}

.slider-nav {
  margin-top: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.review-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
}

.review-card_description {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.desc-content {
  z-index: 10;
  position: relative;
  width: 230px;
  height: 80px;
  background: #ffffff;
  /*   box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.1); */
  border-radius: 10px;
}

.desc-photo {
  position: absolute;
  top: 0;
}

.desc-photo img {
  height: 250px;
  width: 200px;
  border-radius: 25px;
  border: 5px solid rgba(38, 64, 94, 0.1);
  box-sizing: border-box;
}

.main-wrapper {
  font-family: Arial;
  width: 1120px;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
}

.service-desc-content {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
}

.action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}

.action a {
  display: inline-block;
  padding: 5px 10px;
  background: #f30;
  color: #fff;
  text-decoration: none;
}

.action a:hover {
  background: #000;
}

.desc-image img {
  height: 300px;
  margin-right: 60px;
}

.desc-title {
  color: #2e3c50;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.the-description {
  font-size: 20px;
  line-height: 24px;
}

.button-align {
  display: flex;
  justify-content: center;
}

.button-align input {
  outline: none;
  cursor: pointer;
  background: linear-gradient(151.01deg, #0c92ce 13.63%, #80bdf1 90.77%);
  border-radius: 25px;
  padding: 12px 20px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
  box-shadow: 10px 10px 40px rgba(60, 171, 219, 0.4);
}

.slick-current .review-card .desc-photo img {
  border: none;
}

.slick-current .review-card .blur-bg {
  height: 250px;
  width: 200px;
  border-radius: 25px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.slick-current .review-card .blur-bg span {
  color: white;
}

.blur-bg {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 190px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 0px 0px 25px 25px;
  transition: all 0.5s;
}

.form-box {
  height: 460px;
  margin-top: 60px;
  background-image: url("../../images/photo/form-box__bg.png");
  background-size: cover;
  box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.4);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box .form {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 88px;
}

.form-box .form .input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-box .form .input-wrapper .input-box .input-title {
  font-family: "Gilroy Regular";
  font-size: 22px;
  line-height: 26px;
  line-height: 26px;
  margin-bottom: 10px;
  color: white;
}

.form-box .form .input-wrapper .input-box .input {
  font-family: "Gilroy Regular";
  width: 280px;
  height: 31px;
  padding-left: 20px;
  border-radius: 25px;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 19px;
  -webkit-appearance: none;
  color: #82939b;
}

.form-box .form .input-wrapper .input-box .input ::placeholder {
  color: #82939b;
}

.form-box .form .input-wrapper .input-box .input-big {
  width: 319px;
}

.form-box .form .input-wrapper .input-box .feedback-input {
  width: 700px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 25.0358px;
  padding-top: 16px;
  padding-right: 20px;
  /* Optional: show position indicator in red */
}

.form-box .form .input-wrapper .input-box .feedback-input ::-webkit-scrollbar {
  display: none;
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.form-box .form .input-wrapper .input-box .feedback-input ::-webkit-scrollbar-thumb {
  display: none;
  background: #ff0000;
}

.review-card__two {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding: 25px;
}

.review-card__two .review-photo img {
  border-radius: 25px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  border: 5px solid rgba(38, 64, 94, 0.1);
}

.review-card__two .review-descr {
  position: absolute;
  top: 74%;
  left: 13.5%;
  background: white;
  width: 180px;
  height: 80px;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 13px;
  box-sizing: border-box;
  transition: all .2s;
}

.review-card__two .review-descr__author {
  font-size: 18px;
  line-height: 21px;
  color: #2e3c50;
  margin-bottom: 5px;
}

.review-card__two .review-descr__descr {
  font-size: 10px;
  line-height: 16px;
  color: #828282;
}

.review-card__two .review-descr__descr a {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: #0c92ce;
}

.review-box {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.slick-current .review-photo img {
  border: none;
}

.slick-current .review-descr {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 300px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 25px;
}

.slick-current .review-descr__author {
  color: white;
  margin-top: 80px;
}

.slick-current .review-descr__descr {
  font-size: 14px;
  text-align: center;
  color: white;
}

.slick-current .review-descr__descr a {
  display: none;
}

.footer {
  height: 260px;
  background: url("../../images/photo/footer-bg.png");
  background-size: cover;
  color: white;
}

.footer .footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  z-index: 9999;
}

.footer .footer-nav__soc {
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.footer .footer-bottom .year-padding {
  padding-right: 15px;
}

.is-active {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.slick-prev,
.slick-next {
  background: red;
  z-index: 1000;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
}

.slick-prev:hover,
.slick-next:hover {
  background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
}

.slick-prev:focus,
.slick-next:focus {
  background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
}

.slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 105px;
  transform: rotate(-90deg);
}

.slick-next:before {
  content: url("../../images/Icons/arrow-down.svg");
}

.slick-prev {
  left: 105px;
  transform: rotate(90deg);
}

.slick-prev:before {
  content: url("../../images/Icons/arrow-down.svg");
}