.slick-prev,
.slick-next {
  background: red;
  z-index: 1000;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
  &:hover {
    background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
  }
  &:focus {
    background: linear-gradient(114.41deg, #0c92ce 13.63%, #80bdf1 90.77%);
  }
}

.slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 105px;
  transform: rotate(-90deg);
  &:before {
    content: url("../../images/Icons/arrow-down.svg");
  }
}
.slick-prev {
  left: 105px;
  transform: rotate(90deg);
  &:before {
    content: url("../../images/Icons/arrow-down.svg");
  }
}
