.footer {
  height: 260px;
  background: url(../../images/photo/footer-bg.png);
  background-size: cover;
  color: white;
  .footer-nav {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 120px;
     z-index: 9999;

     &__soc {
        width: 47px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
  }

  .footer-bottom {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 60px;

     .year-padding {
        padding-right: 15px;
     }
  }
}
