.form-box {
  height: 460px;
  margin-top: 60px;
  background-image: url(../../images/photo/form-box__bg.png);
  background-size: cover;
  box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.4);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
    .input-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .input-box {
        .input-title {
          font-family: "Gilroy Regular";
          font-size: 22px;
          line-height: 26px;
          line-height: 26px;
          margin-bottom: 10px;
          color: white;
        }
        .input {
          font-family: "Gilroy Regular";
          width: 280px;
          height: 31px;
          padding-left: 20px;
          border-radius: 25px;
          outline: none;
          border: none;
          font-size: 16px;
          line-height: 19px;
          -webkit-appearance: none;

          color: #82939b;
          ::placeholder {
            color: #82939b;
          }
        }
        .input-big {
          width: 319px;
        }
        .feedback-input {
          width: 700px;
          height: 100px;
          box-sizing: border-box;
          border-radius: 25.0358px;
          padding-top: 16px;
          padding-right: 20px;

          ::-webkit-scrollbar {
            display: none;
            width: 0px; /* Remove scrollbar space */
            background: transparent; /* Optional: just make scrollbar invisible */
          }
          /* Optional: show position indicator in red */
          ::-webkit-scrollbar-thumb {
            display: none;
            background: #ff0000;
          }
        }
      }
    }
  }
}
