// .header {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   background-size: cover;
//   background-position: bottom;
//   background-image: url("../../images/photo/background-image.png");
//   &-background {
//     width: 100%;
//     height: 100vh;
//     background: linear-gradient(180deg, #2E3C50 0%, rgba(46, 60, 80, 0.6) 100%);

//     .header-text {
//       width: 100%;
//       height: 86vh;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       text-align: center;
//       color: $color-light;

//       div {
//         .header-text__title {
//           font-size: 120px;
//           padding-top: 130px;
//           margin-bottom: 20px;

//         }
//       }
//     }

//     .header-more {
//       width: 100%;
//       height: 25vh;
//       display: flex;
//       align-items: center;
//       flex-direction: column;
//       color: $color-light;

//       &__text {
//         font-size: 22px;
//         margin-bottom: 20px;
//       }
//       &__btn {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 135px;
//         height: 135px;
//         border-radius: 50%;
//         background: white;
//         border: 1px solid white;
//         &-content {
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           width: 100px;
//           height: 100px;
//           background: linear-gradient(
//             114.41deg,
//             #0c92ce 13.63%,
//             #80bdf1 90.77%
//           );
//           border-radius: 50%;
//           cursor: pointer;
//         }
//       }
//     }
//   }
// }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  background-image: url("../../images/photo/background-image.png");
  &-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #2e3c50 0%, rgba(46, 60, 80, 0.6) 100%);

    .header-text {
      width: 100%;
      height: 86vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: $color-light;

      div {
        .header-text__title {
          font-size: 120px;
          padding-top: 130px;
          margin-bottom: 20px;
        }
      }
    }

    .header-more {
      width: 100%;
      height: 25vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: $color-light;

      &__text {
        font-size: 22px;
        margin-bottom: 20px;
      }
      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 135px;
        border-radius: 50%;
        background: white;
        border: 1px solid white;
        &-content {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 100px;
          background: linear-gradient(
            114.41deg,
            #0c92ce 13.63%,
            #80bdf1 90.77%
          );
          border-radius: 50%;
          cursor: pointer;
        }
      }
    }
  }
}
