.nav {
  z-index: 10000;
  width: 100%;
  position: fixed;
  color: $color-light;
  display: flex;
  justify-content: center;
  .navbar-bgc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;

    .nav-inwrapper {
      display: flex;
      justify-content: space-between;
      width: 83%;
    }
  }

  &-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    font-size: 15px;
    &__logo {
      cursor: pointer;
    }
    &__languages {
      display: flex;
      .languages {
        font-family: "Gilroy Medium";
        margin: 0px 15px;
      }
    }
  }
  &-right {
    font-size: 18px;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;

    &__information {
      font-family: "Gilroy Medium";
      cursor: pointer;
    }
  }
}
.navbar-dark {
  background: #2e3c50;
  box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.4);
  z-index: 10000;
}
