.review-card__two {
  width: 250px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  padding: 25px;
  .review-photo img {
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border: 5px solid rgba(38, 64, 94, 0.1);
  }

  .review-descr {
    position: absolute;
    top: 74%;
    left: 13.5%;
    background: white;
    width: 180px;
    height: 80px;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px 13px;
    box-sizing: border-box;
    transition: all .2s;

    &__author {
      font-size: 18px;
      line-height: 21px;
      color: #2e3c50;
      margin-bottom: 5px;
    }

    &__descr {
      font-size: 10px;
      line-height: 16px;
      color: #828282;

      a {
        text-decoration: none;
        font-size: 12px;
        line-height: 16px;
        color: #0c92ce;
      }
    }
  }
}

.review-box {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

.slick-current {
  .review-photo img {
    border: none;
  }
  .review-descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 25px;
    left: 25px;
    width: 200px;
    height: 300px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    &__author {
      color: white;
      margin-top: 80px;
    }
    &__descr {
      font-size: 14px;
      text-align: center;
      color: white;
      a {
        display: none;
      }
    }
  }
}
