// .services {
//   width: 100%;
//   height: 100vh;
//   margin-top: 100px;

//   .container {
//     .services-active {
//       width: 1120px;
//       display: flex;
//       margin-bottom: 75px;
//       .services-photo {
//         margin-right: 60px;
//         img {
//           width: 310px;
//           height: 350px;
//           border-radius: 25px;
//           box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.4);
//         }
//       }
//       .services-text {
//         &__title {
//           font-size: 36px;
//           margin-bottom: 30px;
//         }
//         &__descr {
//           font-size: 20px;
//           width: 710px;
//         }
//       }
//     }
//   }

//   &-slider {
//     width: 100%;
//     display: flex;
//     &__card {
//       outline: none;
//       display: flex !important;
//       align-items: flex-end;
//       justify-content: center;
//       color: $color-light;
//       width: 250px !important;
//       height: 300px;
//       border-radius: 25px;
//       margin-left: 30px;
//       transition: all 0.5s;
//       box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.4);
//       cursor: pointer;
//       &-descr {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         height: 60px;
//         background: rgba(0, 0, 0, 0.15);
//         backdrop-filter: blur(10px);
//         border-radius: 0px 0px 25px 25px;
//         transition: all 0.5s;
//       }
//       &:hover .services-slider__card-descr {
//         width: 100%;
//         height: 100%;
//         border-radius: 25px;
//       }
//     }
//   }
// }

// #one {
//   background: url("../../images/photo/transport_services.png");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #two {
//   background: url("../../images/photo/two.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #three {
//   background: url("../../images/photo/three.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #four {
//   background: url("../../images/photo/four.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #five {
//   background: url("../../images/photo/five.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #six {
//   background: url("../../images/photo/six.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #seven {
//   background: url("../../images/photo/seven.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #eight {
//   background: url("../../images/photo/seven.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #nine {
//   background: url("../../images/photo/seven.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// #ten {
//   background: url("../../images/photo/seven.svg");
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.slick-prev {
  left: -25px !important;
}
.slick-next {
  right: -25px !important;
}

.slick-prev,
.slick-next {
  top: auto;
}

.slider-nav {
  margin-top: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.review-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
}
.review-card_description {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.desc-content {
  z-index: 10;
  position: relative;
  width: 230px;
  height: 80px;
  background: #ffffff;
  /*   box-shadow: 10px 10px 40px rgba(1, 38, 54, 0.1); */
  border-radius: 10px;
}

.desc-photo {
  position: absolute;
  top: 0;
}
.desc-photo img {
  height: 250px;
  width: 200px;
  border-radius: 25px;
  border: 5px solid rgba(38, 64, 94, 0.1);
  box-sizing: border-box;
}

.main-wrapper {
  font-family: Arial;
  width: 1120px;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
}
.service-desc-content {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
}
.action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.action a {
  display: inline-block;
  padding: 5px 10px;
  background: #f30;
  color: #fff;
  text-decoration: none;
}
.action a:hover {
  background: #000;
}

.desc-image img {
  height: 300px;
  margin-right: 60px;
}

.desc-title {
  color: #2e3c50;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.the-description {
  font-size: 20px;
  line-height: 24px;
}

.button-align {
  display: flex;
  justify-content: center;
  input {
    outline: none;
    cursor: pointer;
    background: linear-gradient(151.01deg, #0c92ce 13.63%, #80bdf1 90.77%);
    border-radius: 25px;
    padding: 12px 20px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border: none;
    box-shadow: 10px 10px 40px rgba(60, 171, 219, 0.4);
  }
}

.slick-current {
  .review-card {
    .desc-photo img {
      border: none;
    }
    .blur-bg {
      height: 250px;
      width: 200px;
      border-radius: 25px;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      span {
        color: white;
      }
    }
  }
}

.blur-bg {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 190px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 0px 0px 25px 25px;
  transition: all 0.5s;
}
