body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: $color-primary;
  transition: all 0.5s;
  // overflow: hidden;
}

html {
  transition: all 0.5s;
}

#skroll {
  height: 300px;
  border: 1px solid red;
  position: absolute;
  opacity: 0;
  top: 870px;
}

.container {
  width: 1120px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

ol,
li {
  list-style: none;
}

button {
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0.5;
  padding-right: 20px;
}

textarea {
  resize: none;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
