@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../typography/Gilroy-Bold.ttf");
}

@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../typography/Gilroy-Medium.ttf");
}

@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../typography/Gilroy-Regular.ttf");
}

.heading-primary {
  font-size: 120px;
  font-family: "Gilroy Bold";
}

.heading-secondary {
   font-size: 32px;
  font-family: "Gilroy Medium";
}

.heading-tertuary {
  font-family: "Gilroy Regular";
  font-size: 24px;
}
